*{
	box-sizing: border-box;
}


body{
	font-family: 'Roboto' , sans-serif;
	color: #333;

}


img{
	width: 100%;
	height: auto;
}

a{
	text-decoration:none;
	color: black;

}

a:hover{
	color: $siteRed;
}
.active{
	color: $siteRed;
}

li {
	list-style: none;
}