.faqs{
	overflow: hidden;
	&__content{
		margin-top: 20px;
		
		
	}

	&__quiz{
		lost-column: 1;
		margin-bottom: 20px;
		position: relative;

		@mixin atMedium{
			lost-column: 1/2;
		}

		& h3 {
			background-color: #fff;
			color: rgba($siteRed, .8);
			font-weight: 200;
			padding-left: 20px;
			border-bottom: 1px solid $body;
			padding-bottom: 20px;
			padding-top: 20px;
			margin-bottom: 0;
		}

		& p{
			margin-top: 0;
			background-color: #fff;
			color: rgba(#000 .7);
			line-height: 1.5;
			padding: 15px;

		}
	}

	&__icon{
	 	position: relative; 
	 	top: 40px;
		left: 500px;
	 	right: 200px;
		color: #000;
		font-weight: lighter;


		


	}

}