.services{
	overflow: hidden;
	position: relative;
	padding-left: 3rem;
	
	&__main{
	width: 100%;
	clear: right;
	text-align: center;
	padding: 0;
	margin: 0 auto;

			& h1{
				font-size: 2rem;

			}

			& p{
				width: 280px;
				font-size: 1rem;
				line-height: 1.5;

				@mixin atMedium{
					width: 550px;
				}

				@mixin atMedium{
					width: 800px;
				}
			}

	@mixin atLarge{
		text-align: left;
	}
		
	}
	&__left{
		lost-waffle: 1;
		width: 100%;
		text-align: center;

		@mixin atMedium{
			width: 400px;
			lost-waffle: 1/2;
			margin-right: lost-vars('gutter-local');
			text-align: left;
			padding-left: 18px;

		}		
		
	}

	&__right{
			lost-waffle: 1;
			width: 100%;
			text-align: center;


		@mixin atMedium{
			text-align: left;
			lost-waffle: 1/2;
			 width: 400px; 
			 margin-left: lost-vars('gutter-local');
		
		}
		 
		
	}


	&__icon{
		position: relative;
		top: 0;
		font-size: 2.5rem;
		opacity: .2;


		@mixin atLarge{
			left: -60px;
			top: 65px;
		}

		
	}

	&__sub-heading{
		color: rgba($siteRed, .8);
		font-size: 1.5rem;
		font-weight: 300;

	}

	&__text{
		line-height: 1.5;
		color: rgba(#000 .7);
		margin-right: 30px;

	}

}