.services{
		position: relative;
	
	&__main{
	width: 100%;
	clear: left;
	text-align: center;
	padding: 0;

			& h1{
				font-size: 2rem;

			}

			& p{
				font-size: 1.2rem;
				line-height: 1.5;
			}

	@mixin atLarge{
		width: 500px;
		text-align: left;
	}
		
	}
	&__left{
		lost-waffle: 1;
		width: 100%;
		text-align: center;

		@mixin atLarge{
			width: 450px;
			lost-waffle: 1/2;
			margin-right: lost-vars('gutter-local');
			text-align: left;

		}		
		
	}

	&__right{
			lost-waffle: 1;
			width: 100%;
			text-align: center;


		@mixin atLarge{
			text-align: left;
			lost-waffle: 1/2;
			 width: 500px; 
			 margin-left: lost-vars('gutter-local');
		
		}
		 
		
	}


	&__icon{
		position: relative;
		top: 0;
		font-size: 2.5rem;
		opacity: .2;


		@mixin atLarge{
			left: -60px;
			top: 65px;
		}

		
	}

	&__sub-heading{
		color: rgba($siteRed, .8);
		font-size: 1.5rem;
		font-weight: 300;

	}

	&__text{
		line-height: 1.5;
		color: rgba(#000 .7);
		margin-right: 30px;

	}

}